<md-dialog flex="50">
  <form ng-cloak>
    <md-toolbar layout="row" layout-align="space-between center" class="md-green-700-bg grey-A100-fg" layout-xs="column">
      <div class="md-toolbar-tools">
        <h2>{{'FARMMANAGER.CONFIG.FARM.MODAL.MANAGEPLANTS.MANAGEPLANTS_PLANT_TYPES_IN_FARM'|translate}}: {{model.farm.name}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="model.no()">
          <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <md-switch ng-model="plantType.included" aria-label="Switch 1" ng-repeat="plantType in model.plantTypes" ng-click="model.switch(plantType)">
      {{plantType.type}}
      </md-switch>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="model.no()">
        {{'FARMMANAGER.CONFIG.FARM.MODAL.MANAGEPLANTS.CLOSE'|translate}}
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
