<div id="simple-table" class="page-layout simple fullwidth doc-page element-doc-page">
    <div class="header md-light-green-A200-bg" layout="row" layout-sm="column" layout-xs="column" layout-align="space-between center">
        <div layout="column">
            <div class="breadcrumb" layout="row" hide-xs>
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <span class="parent">{{'FARMMANAGER.BREADCRUMB.MANAGE_FARM'|translate}}</span>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">{{model.farm.name}}</span>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">{{model.animalType.type}}</span>
            </div>
            <div class="white-fg" layout="row">
                <div class="h1" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-cube-outline"></md-icon>
                    <span class="md-title">{{'FARMMANAGER.MANAGE.ANIMAL.LIST.MANAGE_ANIMALS'|translate}} {{model.animalType.type}}</span>
                </div>
            </div>
        </div>
    </div>
    <md-toolbar layout="row" layout-align="space-between center" class="md-green-700-bg grey-A100-fg" layout-xs="column">
        <h2 class="padding-left-24" hide-xs>
            <span> {{'FARMMANAGER.MANAGE.ANIMAL.LIST.LIST_OF_ANIMALS_OF_TYPE'|translate}} {{model.animalType.type}}</span>
            <span> {{'FARMMANAGER.MANAGE.ANIMAL.LIST.AVAILABLE_IN_FARM'|translate}} {{model.farm.name}}</span>
        </h2>
        <div flex hide-xs></div>
        <div flex layout="row" layout-align="center center">
            <md-button ng-if="!model.showGrid" class="md-icon-button" hide-sm hide-xs aria-label="Favorite" ng-click="model.changeViewType()">
                <md-icon md-font-icon="icon-grid"></md-icon>
            </md-button>
            <md-button ng-if="model.showGrid" class="md-icon-button" hide-sm hide-xs aria-label="More" ng-click="model.changeViewType()">
                <md-icon md-font-icon="icon-tile-four"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="More" ng-click="model.add()">
                <md-icon md-font-icon="icon-plus"></md-icon>
            </md-button>
        </div>
        <md-menu hide-xs>
            <md-button class="md-icon-button" ng-click="$mdOpenMenu()" aria-label="more">
                <md-icon md-font-icon="icon-dots-vertical"></md-icon>
            </md-button>
            <md-menu-content width="3">
                <md-menu-item>
                    <md-button ng-click="model.importAnimals()" aria-label="{{'FARMMANAGER.MANAGE.ANIMAL.LIST.IMPORT'|translate}}">
                        {{'FARMMANAGER.MANAGE.ANIMAL.LIST.IMPORT'|translate}}
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </md-toolbar>
    <md-content>
        <div ng-if="model.showGrid" class="dataTable_wrapper">
            <table class="simple" ms-responsive-table id="dataTables-example">
                <thead>
                    <tr>
                        <th>
                            {{'FARMMANAGER.MANAGE.ANIMAL.LIST.TYPE'|translate}}
                        </th>
                        <th>
                            <md-button md-no-ink class="md-primary " ng-click="model.sort('subType')" layout-align="start center">
                                {{'FARMMANAGER.MANAGE.ANIMAL.LIST.SUB_TYPE'|translate}}
                                <md-icon ng-show="model.sortType == 'subType' && !model.sortReverse" md-font-icon="icon-chevron-down"></md-icon>
                                <md-icon ng-show="model.sortType == 'subType' && model.sortReverse" md-font-icon="icon-chevron-up"></md-icon>
                            </md-button>
                        </th>
                        <th>
                            <md-button md-no-ink class="md-primary" ng-click="model.sort('code')" layout-align="start center">
                                {{'FARMMANAGER.MANAGE.ANIMAL.LIST.CODE'|translate}}
                                <md-icon ng-show="model.sortType == 'code' && !model.sortReverse" md-font-icon="icon-chevron-down"></md-icon>
                                <md-icon ng-show="model.sortType == 'code' && model.sortReverse" md-font-icon="icon-chevron-up"></md-icon>
                            </md-button>
                        </th>
                        <th>{{'FARMMANAGER.MANAGE.ANIMAL.LIST.WEIGHT'|translate}}</th>
                        <th ng-if="false">{{'FARMMANAGER.MANAGE.ANIMAL.LIST.SEX'|translate}}</th>
                        <th ng-if="false">{{'FARMMANAGER.MANAGE.ANIMAL.LIST.OWNER'|translate}}</th>
                        <th ng-if="false">{{'FARMMANAGER.MANAGE.ANIMAL.LIST.DATE_OF_BIRTH'|translate}}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="animal in model.displayAnimals  track by animal.id | orderBy:sortType:sortReverse">
                        <td>{{::model.animalType.type}}</td>
                        <td>{{::model.animalSubTypes[animal.subType].type}}</td>
                        <td>{{::animal.code}}</td>
                        <td>{{::animal.weight}}</td>
                        <td ng-if="false">{{::animal.sex}}</td>
                        <td ng-if="false">{{::animal.owner}}</td>
                        <td ng-if="false">{{::animal.dateOfBirth | date : 'yyyy-MM-dd'}}</td>
                        <td class="text-right">
                            <md-button class="md-raised md-green-800-bg grey-A100-fg" ng-click="model.manage(animal)">
                                {{'FARMMANAGER.MANAGE.ANIMAL.LIST.VIEW'|translate}}
                            </md-button>
                            <md-menu>
                                <md-button class="md-icon-button" ng-click="$mdOpenMenu()" aria-label="more">
                                    <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                                </md-button>
                                <md-menu-content width="3">
                                    <md-menu-item>
                                        <md-button ng-click="model.showMovePanel($event,animal)" aria-label="{{'FARMMANAGER.MANAGE.ANIMAL.LIST.MOVE'|translate}}">
                                            {{'FARMMANAGER.MANAGE.ANIMAL.LIST.MOVE'|translate}}
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="model.sellAnimal($event,animal)" aria-label="{{'FARMMANAGER.MANAGE.ANIMAL.LIST.SELL'|translate}}">
                                            {{'FARMMANAGER.MANAGE.ANIMAL.LIST.SELL'|translate}}
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="model.removeAnimal($event, animal)" aria-label=" {{'FARMMANAGER.MANAGE.ANIMAL.LIST.REMOVE'|translate}}">
                                            {{'FARMMANAGER.MANAGE.ANIMAL.LIST.REMOVE'|translate}}
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="model.addChild(animal)" aria-label="{{'FARMMANAGER.MANAGE.ANIMAL.LIST.ADD_CHILD'|translate}}">
                                            {{'FARMMANAGER.MANAGE.ANIMAL.LIST.ADD_CHILD'|translate}}
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div ng-if="!model.showGrid" class="widget-group" layout="row" flex="100" layout-wrap on-scroll-to-bottom="model.loadMore()">
            <ms-widget layout="column" flex-xs="100" flex-sm="50" flex-md="33" flex-lg="33" flex-xl="25" ng-repeat="animal in model.displayAnimals track by animal.id | orderBy:sortType:sortReverse">
                <ms-widget-front class="white-bg">
                    <div class="ph-16 border-bottom" layout="row" layout-align="space-between center">
                        <md-button layout-align="start center" ng-show="!animal.pinned" class="md-icon-button" aria-label="Favorite" ng-click="model.pinnAnimal(animal)" flex="10">
                            <md-icon md-font-icon="icon-pin"></md-icon>
                        </md-button>
                        <md-button layout-align="start center" ng-show="animal.pinned" class="md-icon-button" aria-label="Favorite" ng-click="model.unpinnAnimal(animal)">
                            <md-icon md-font-icon="icon-pin-off"></md-icon>
                        </md-button>
                        <div class="md-headline">{{::animal.code}}</div>
                        <md-menu>
                            <md-button class="md-icon-button" ng-click="$mdOpenMenu()" aria-label="more">
                                <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                            </md-button>
                            <md-menu-content width="3">
                                <md-menu-item>
                                    <md-button ng-click="model.showMovePanel($event,animal)" aria-label="{{'FARMMANAGER.MANAGE.ANIMAL.LIST.MOVE'|translate}}">
                                        {{'FARMMANAGER.MANAGE.ANIMAL.LIST.MOVE'|translate}}
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="model.sellAnimal($event,animal)" aria-label="{{'FARMMANAGER.MANAGE.ANIMAL.LIST.SELL'|translate}}">
                                        {{'FARMMANAGER.MANAGE.ANIMAL.LIST.SELL'|translate}}
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="model.removeAnimal($event, animal)" aria-label=" {{'FARMMANAGER.MANAGE.ANIMAL.LIST.REMOVE'|translate}}">
                                        {{'FARMMANAGER.MANAGE.ANIMAL.LIST.REMOVE'|translate}}
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="model.addChild(animal)" aria-label="{{'FARMMANAGER.MANAGE.ANIMAL.LIST.ADD_CHILD'|translate}}">
                                        {{'FARMMANAGER.MANAGE.ANIMAL.LIST.ADD_CHILD'|translate}}
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>
                    <div class="pt-8 pb-32" layout="row" layout-align="center center">
                        <div flex="5"></div>
                        <div flex="45">
                            <img ng-show="model.showImmages" ng-src="{{animal.photoUrl}}" style="width:100%" class="md-card-image" alt="This animal do not have photo!">
                        </div>
                        <div flex="5"></div>
                        <div flex="45" layout="column">
                            <div>{{'FARMMANAGER.MANAGE.ANIMAL.LIST.TYPE'|translate}}: {{::model.animalType.type}}</div>
                            <div>{{'FARMMANAGER.MANAGE.ANIMAL.LIST.SUB_TYPE'|translate}}: {{::model.animalSubTypes[animal.subType].type}}</div>
                            <div>{{'FARMMANAGER.MANAGE.ANIMAL.LIST.WEIGHT'|translate}}: {{::animal.weight}}</div>
                            <div>{{'FARMMANAGER.MANAGE.ANIMAL.LIST.SEX'|translate}}: {{::animal.sex}}</div>
                            <div>{{'FARMMANAGER.MANAGE.ANIMAL.LIST.OWNER'|translate}}: {{::animal.owner}}</div>
                            <div>{{'FARMMANAGER.MANAGE.ANIMAL.LIST.DATE_OF_BIRTH'|translate}}: {{::animal.dateOfBirth | date : 'yyyy-MM-dd'}}</div>
                        </div>
                    </div>
                    <div class="p-5 grey-50-bg border-top" layout="row" layout-align="space-between center">
                        <div flex ng-if="!animal.pendingChanges"></div>
                        <md-button class="md-icon-button test-tooltip" ng-if="animal.pendingChanges">
                            <md-tooltip md-direction="down" class="md-body-1">{{'FARMMANAGER.MANAGE.ANIMAL.LIST.PENDINGCHANGES'|translate}}</md-tooltip>
                            <md-icon md-font-icon="icon-alert" class="s24"></md-icon>
                        </md-button>
                        <md-button class="md-raised md-green-800-bg grey-A100-fg" ng-click="model.manage(animal)">
                            {{'FARMMANAGER.MANAGE.ANIMAL.LIST.VIEW'|translate}}
                        </md-button>
                    </div>
                </ms-widget-front>
            </ms-widget>
        </div>
        <div layout="row" class="text-right layout-margin">
            <span class="md-subhead text-right">{{'FARMMANAGER.MANAGE.ANIMAL.LIST.DISPLAYING'|translate}} {{model.displayAnimals.length}} {{'FARMMANAGER.MANAGE.ANIMAL.LIST.OF'|translate}} {{model.animals.length}}</span>
            <div>
            </div>

        </div>
    </md-content>
</div>
