<div id="simple-table" class="page-layout simple fullwidth doc-page element-doc-page">
  <!-- HEADER -->
  <div class="header md-light-green-A200-bg" layout="row" layout-align="space-between">
    <div layout="column" layout-align="center start">
      <div class="breadcrumb" layout="row" hide-xs layout-align="start center">
        <md-icon md-font-icon="icon-home" class="s16"></md-icon>
        <span class="parent">{{'FARMMANAGER.BREADCRUMB.CONFIGURATION'|translate}}</span>
        <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
        <span class="parent">{{'FARMMANAGER.BREADCRUMB.ADD_ANIMAL_TYPE'|translate}}</span>
      </div>
      <div class="title md-title">{{'FARMMANAGER.CONFIG.ANIMALTYPES.ADD.ADD_ANIMAL_TYPE'|translate}}</div>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content">
    <md-toolbar layout="row" layout-align="space-between center" class="md-green-700-bg grey-A100-fg" layout-xs="column">
      <div class="md-toolbar-tools" layout="row" layout-xs="column" layout-sm="column">
        <span layout="row">
          <h2>{{'FARMMANAGER.CONFIG.ANIMALTYPES.ADD.ADD_NEW_ANIMAL_TYPE'|translate}}</h2>
        </span>
        <span flex></span>
      </div>
    </md-toolbar>
    <div layout="row">

      <!-- BASIC FORM -->
      <div class="form-wrapper md-whiteframe-1dp" flex="100">
        <form name="basicForm" class="md-inline-form" novalidate>
          <div layout="column" layout-gt-sm="row">
            <md-input-container flex>
              <input type="text" name="name" ng-model="model.animalType.type" placeholder="{{'FARMMANAGER.CONFIG.ANIMALTYPES.ADD.NAME'|translate}}" required>
              <div ng-messages="basicForm.code.$error" role="alert">
                <div ng-message="required">
                  <span>Name is required.</span>
                </div>
              </div>
            </md-input-container>
          </div>
          <md-button type="submit" class="md-raised md-green-800-bg grey-A100-fg" aria-label="Submit" ng-click="model.addAnimalType()">
            {{'FARMMANAGER.CONFIG.ANIMALTYPES.ADD.SAVE'|translate}}
          </md-button>
          <md-button class="md-raised" aria-label="Cancel" ng-click="model.cancel()">
            {{'FARMMANAGER.CONFIG.ANIMALTYPES.ADD.CANCEL'|translate}}
          </md-button>
        </form>

      </div>
      <!-- / BASIC FORM -->
    </div>
  </div>
</div>
