<div id="simple-table" class="page-layout simple fullwidth doc-page element-doc-page">

    <!-- HEADER -->
    <div class="header md-light-green-A200-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="center start">
            <div class="breadcrumb" layout="row" hide-xs layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">{{'FARMMANAGER.BREADCRUMB.CONFIGURATION'|translate}}</span>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">{{'FARMMANAGER.BREADCRUMB.PLANT_TYPES'|translate}}</span>
            </div>
            <div class="white-fg" layout="row">
                <div class="h1" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-cube-outline"></md-icon>
                    <span class="md-title">{{'FARMMANAGER.CONFIG.PLANTTYPES.LIST.PLANT_TYPES' | translate}}</span>
                </div>
            </div>
        </div>
    </div>
    <!-- / HEADER -->

    <md-toolbar layout="row" layout-align="space-between center" class="md-green-700-bg grey-A100-fg" layout-xs="column">
        <h2 class="padding-left-24">
            <span>{{'FARMMANAGER.CONFIG.PLANTTYPES.LIST.PLANT_TYPES' | translate}}</span>
        </h2>
        <div flex></div>
        <md-button ng-if="!model.showGrid" class="md-icon-button" hide-sm hide-xs aria-label="Favorite" ng-click="model.changeViewType()">
            <md-icon md-font-icon="icon-grid"></md-icon>
        </md-button>
        <md-button ng-if="model.showGrid" class="md-icon-button" hide-sm hide-xs aria-label="More" ng-click="model.changeViewType()">
            <md-icon md-font-icon="icon-tile-four"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="More" ng-click="model.add()">
            <md-icon md-font-icon="icon-plus"></md-icon>
        </md-button>
    </md-toolbar>
    <div ng-if="model.showGrid" class="dataTable_wrapper">
        <table class="simple" ms-responsive-table id="dataTables-example">
            <thead>
                <tr>
                    <th>{{'FARMMANAGER.CONFIG.PLANTTYPES.LIST.NAME'|translate}}</th>
                    <th>{{'FARMMANAGER.CONFIG.PLANTTYPES.LIST.TOTAL'|translate}}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="plantType in model.plantTypes track by plantType.type">
                    <td>{{::plantType.type}}</td>
                    <td>{{plantType.total}}</td>
                    <td class="text-right">
                        <md-button class="md-raised md-green-800-bg grey-A100-fg" ng-click="model.goToManagePlantType(plantType)">
                            {{'FARMMANAGER.CONFIG.PLANTTYPES.LIST.VIEW'|translate}}
                        </md-button>
                        <md-menu>
                            <md-button class="md-icon-button" ng-click="$mdOpenMenu()" aria-label="more">
                                <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                            </md-button>
                            <md-menu-content width="3">
                                <md-menu-item>
                                    <md-button ng-click="model.removePlantType($event, plantType)" aria-label=" {{'FARMMANAGER.CONFIG.FARM.LIST.REMOVE'|translate}}">
                                        {{'FARMMANAGER.CONFIG.PLANTTYPES.LIST.REMOVE'|translate}}
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-if="!model.showGrid" class="widget-group" layout="row" flex="100" layout-wrap>
        <ms-widget layout="column" flex-xs="100" flex-sm="50" flex-md="33" flex-lg="33" flex-xl="25" ng-repeat="plantType in model.plantTypes track by plantType.type">
            <ms-widget-front class="white-bg">
                <div class="ph-16 border-bottom" layout="row" layout-align="space-between center">
                    <div class="md-headline">{{::plantType.type}}</div>
                    <md-menu>
                        <md-button class="md-icon-button" ng-click="$mdOpenMenu()" aria-label="more">
                            <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                        </md-button>
                        <md-menu-content width="3">
                            <md-menu-item>
                                <md-button ng-click="model.removePlantType($event, plantType)" aria-label=" {{'FARMMANAGER.CONFIG.FARM.LIST.REMOVE'|translate}}">
                                    {{'FARMMANAGER.CONFIG.PLANTTYPES.LIST.REMOVE'|translate}}
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
                <div class="pt-8 pb-32" layout="column" layout-align="center center">
                    <div class="h4">{{'FARMMANAGER.CONFIG.PLANTTYPES.LIST.TOTAL'|translate}}: {{plantType.total}}</div>
                </div>
                <div class="p-5 grey-50-bg border-top" layout="row" layout-align="end center">
                    <md-button class="md-raised md-green-800-bg grey-A100-fg" ng-click="model.goToManagePlantType(plantType)">
                        {{'FARMMANAGER.CONFIG.PLANTTYPES.LIST.VIEW'|translate}}
                    </md-button>
                </div>
            </ms-widget-front>
        </ms-widget>
    </div>

</div>
